<title>(( details.name ))</title>

(% extends "layout.html" %)
(% block content %)
    <h2>(( details.name ))</h2><form action="(( url_for('record_vote', desired_object=details.name) ))" method="POST">
        <button class="button secondary submit" disabled><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="This functionality coming soon!"><i class="fas fa-star"></i> (( votes ))</span></button>
    </form>
    (( details.description ))
    <!-- (% if details.readme %)
        <h3>Readme</h3>
        (( details.readme ))
    (% endif %) -->

    <br><br>

    (% if details.pb_file_name %)
        <a class="button secondary" href="(( url_for('static', filename=(( download_dir )) + '/' + details.pb_file_name) ))" download>Download (( download_dir[:-1] ))</a>
    (% endif %)

    <a class="button secondary" href="https://github.com/ThreatConnect-Inc/threatconnect-playbooks/issues/new?title=[(( details.name ))]:%20" target="_blank" title="Have a good idea or know of an issue for this playbook? Create an issue in github!"><i class="fas fa-external-link-alt"></i> Create an issue</a>

    <a class="button secondary" href="https://github.com/ThreatConnect-Inc/threatconnect-playbooks/tree/master/(( download_dir ))" target="_blank" title="Have a good idea or know of an issue for this playbook? Create an issue in github!"><i class="fas fa-external-link-alt"></i> View in Github</a>

    <br><br>

    (% if details.documentation != {} %)
        <h3>Documentation</h3>

        (% if details.documentation.trigger %)
            <div class="docsEntry">
                <h4>Trigger</h4>
                <i>This playbook/component is triggered with the following triggers:</i>

                <ul>
                    (% for trigger in details.documentation.trigger %)
                        <li>(( trigger ))</li>
                    (% endfor %)
                </ul>
            </div>

            <br>
        (% endif %)

        (% if details.documentation.custom_metrics %)
            <div class="docsEntry">
                <h4>Custom Metrics</h4>

                <i>This playbook uses the following custom metrics [<a href="https://docs.threatconnect.com/en/latest/rest_api/custom_metrics/custom_metrics.html#custom-metrics">learn more</a>]:</i>

                <ul>
                    <!-- TODO: only display a value is it is not empty -->
                    (% for custom_metric in details.documentation.custom_metrics %)
                        <li>Custom Metric Name: (( custom_metric.name ))</li>
                        <ul>
                            <li>Weight: (( custom_metric.weight ))</li>
                            <li>Date: (( custom_metric.date ))</li>
                            <li>Value: (( custom_metric.value ))</li>
                            <li>Key: (( custom_metric.key ))</li>
                        </ul>
                    (% endfor %)
                </ul>
            </div>
            <br>
        (% endif %)

        (% if details.documentation.datastores %)
            <div class="docsEntry">
                <h4 class="docsHeading">Datastores</h4>

                <i>This playbook uses the following datastores:</i>

                <ul>
                    <!-- TODO: only display a value is it is not empty -->
                    (% for datastore in details.documentation.datastores %)
                        <li><code>(( datastore.db_method )) (( datastore.domain_type.lower() ))/(( datastore.type_name ))/(( datastore.path ))</code>:</li>
                        <ul>
                            <li>Datastore Entity: <code>(( datastore.request_entity ))</code></li>
                            <li>Datastore Organization: (( datastore.organization_name ))</li>
                        </ul>
                    (% endfor %)
                </ul>
            </div>
            <br>
        (% endif %)

        (% if details.documentation.variables|length > 0 %)
            (% if details.documentation.variables.user_variables|length > 0 %)
            <div class="docsEntry">
                <h4 class="docsHeading">User Variables</h4>

                <i>This playbook expects the following user variables:</i>

                <ul>
                    <!-- TODO: only display a value is it is not empty -->
                    (% for variable in details.documentation.variables.user_variables %)
                        <li>(( variable.type )): (( variable.name ))</li>
                    (% endfor %)
                </ul>
            </div>
            (% endif %)

            (% if details.documentation.variables.org_variables|length > 0 %)
            <div class="docsEntry">
                <h4 class="docsHeading">Organization Variables</h4>

                <i>This playbook expects the following organization variables:</i>

                <ul>
                    <!-- TODO: only display a value is it is not empty -->
                    (% for variable in details.documentation.variables.org_variables %)
                        <li>(( variable.type )): (( variable.name ))</li>
                    (% endfor %)
                </ul>
                </div>
            (% endif %)
            <br>
        (% endif %)

        (% if details.documentation.internal_variables %)
        <div class="docsEntry">
            <h4 class="docsHeading">Variables Declared in the Playbook</h4>

            <i>The following variables are declared in this playbook:</i>

            <ul>
                <!-- TODO: only display a value is it is not empty -->
                (% for variable in details.documentation.internal_variables %)
                    <li>(( variable.key )): (( variable.value ))</li>
                (% endfor %)
            </ul>
            </div>
        (% endif %)
        <br><br>
    (% endif %)

    (% if details.images %)
        <h3>Images</h3>
        (% for image in details.images %)
            <img src="(( url_for('static', filename=(( image_dir )) + '/' + image) ))"><br><br>
        (% endfor %)
        <br><br>
    (% endif %)

    (% if details.raw_json %)
        <ul class="vertical menu" data-accordion-menu>
          <li>
            <a href="#">View Playbook File</a>
            <ul style="background-color: lightgrey;">
                <pre>(( details.raw_json ))</pre>
            </ul>
          </li>
        </ul>
    (% endif %)

    <br><br>

    <script type="text/javascript">
        $(document).foundation();
    </script>
(% endblock %)
