(% extends "layout.html" %)
(% block content %)
    <h2><b>Playbooks, Components, and Apps</b></h2>
    The resources listed below are from <a href="https://github.com/ThreatConnect-Inc/threatconnect-playbooks">https://github.com/ThreatConnect-Inc/threatconnect-playbooks</a>. Feel free to use them!

    <div class="row">
        (% with messages = get_flashed_messages(with_categories=true) %)
          (% if messages %)
            <br><br>
            (% for category, message in messages %)
              <span class="(( category ))">(( message ))</span>
            (% endfor %)
            <br><br>
          (% endif %)
        (% endwith %)
    </div>


    <br><br>
    <h4 id="playbooks"><b>Playbooks</b></h4>
    <ul>
    (% for playbook in playbooks %)
        <li><a href="/explore/(( playbook.name ))">(( playbook.name ))</a> - (( playbook.description|safe ))</li>
    (% endfor %)
    </ul>

    <br><br>
    <h4 id="components"><b>Components</b></h4>
    <ul>
    (% for component in components %)
        <li><a href="/explore/(( component.name ))">(( component.name ))</a> - (( component.description|safe ))</li>
    (% endfor %)
    </ul>

    <br><br>
    <h4 id="playbookApps"><b>Playbook Apps</b></h4>
    <ul>
    (% for app in apps %)
        <li><a href="/explore/(( app.name ))">(( app.name ))</a> - (( app.description|safe ))</li>
    (% endfor %)
    </ul>
(% endblock %)
