<title>(( details.name ))</title>

(% extends "layout.html" %)
(% block content %)
    <h2>(( details.name ))</h2><form action="(( url_for('record_vote', desired_object=details.name) ))" method="POST">
        <button class="button secondary submit" disabled><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="This functionality coming soon!"><i class="fas fa-star"></i> (( votes ))</span></button>
    </form>
    (( details.description ))
    <!-- (% if details.readme %)
        <h3>Readme</h3>
        (( details.readme ))
    (% endif %) -->

    (% if details.images %)
        <h3>Images</h3>
        (% for image in details.images %)
            <img src="(( url_for('static', filename=(( image_dir )) + '/' + image) ))"><br><br>
        (% endfor %)
    (% endif %)

    <br><br>

    (% if details.pb_file_name %)
        <a class="button secondary" href="(( url_for('static', filename=(( download_dir )) + '/' + details.pb_file_name) ))" download>Download playbook</a>
    (% endif %)

    <a class="button secondary" href="https://github.com/ThreatConnect-Inc/threatconnect-playbooks/issues/new?title=[(( details.name ))]:%20" target="_blank" title="Have a good idea or know of an issue for this playbook? Create an issue in github!"><i class="fas fa-external-link-alt"></i> Create an issue</a>

    <br><br><br><br><br>

    (% if details.raw_json %)
        <ul class="vertical menu" data-accordion-menu>
          <li>
            <a href="#">View Playbook File</a>
            <ul style="background-color: lightgrey;">
                <pre>(( details.raw_json ))</pre>
            </ul>
          </li>
        </ul>
    (% endif %)

    <br><br>

    <script type="text/javascript">
        $(document).foundation();
    </script>
(% endblock %)
