(% extends "layout.html" %)
(% block content %)

<h2>Playbook Resources:</h2>

<br>

<ul>
    <li><a href="(( url_for('requester_index') ))">HTTP Request Playbook Creator</a></li>
    <li><a href="(( url_for('documenter_index') ))">Document a Playbook</a> - <span style="color: red;">New</span></li>
    <li><a href="http://tcex.hightower.space/">http://tcex.hightower.space</a>: Quickly create your own playbook app - <span style="color: red;">New</span></li>
    <li><a href="http://tc.hightower.space/">http://tc.hightower.space</a>: View open-source playbooks, components, and other threatconnect resources - <span style="color: red;">New</span></li>
    <li><a href="https://pb-constructs.hightower.space/playbooks/">https://pb-constructs.hightower.space/playbooks</a>: A guide for creating effective and maintainable playbooks - <span style="color: red;">New</span></li>
</ul>

(% endblock %)