(% extends "layout.html" %)
(% block content %)
    <h2>(( playbook_details.name ))</h2>
    (( playbook_details.description ))
    <!-- (% if playbook_details.readme %)
        <h3>Readme</h3>
        (( playbook_details.readme ))
    (% endif %) -->

    (% if playbook_details.images %)
        <h3>Images</h3>
        (% for image in playbook_details.images %)
            <img src="(( url_for('static', filename='pb_images/' + image) ))">
        (% endfor %)
    (% endif %)

    <br><br>

    <a class="button secondary" href="(( url_for('static', filename='pbs/' + playbook_details.pb_file_name) ))" download>Download playbook</a>

    <br><br><br><br><br>

    <ul class="vertical menu" data-accordion-menu>
      <li>
        <a href="#">View Playbook File</a>
        <ul style="background-color: lightgrey;">
            (( playbook_details.raw_json|safe ))
        </ul>
      </li>
    </ul>

    <br><br>

    <script type="text/javascript">
        $(document).foundation();
    </script>
(% endblock %)
