(% extends "layout.html" %)
(% block content %)
<div class="row">
    (% with messages = get_flashed_messages(with_categories=true) %)
      (% if messages %)
        (% for category, message in messages %)
          <span class="(( category ))">(( message ))</span>
        (% endfor %)
        <br><br>
      (% endif %)
    (% endwith %)
</div>

<form action="(( url_for('parse_json') ))">
    <input type="text" name="url" placeholder="Enter the url you would like to request...">
    <a href="(( url_for('parse_json', url='https://ioc-fang.github.io/datasets/fang.json') ))">Try 'https://ioc-fang.github.io/datasets/fang.json'</a>
    <input class="button blue float-right" type="submit" value="Submit URL">

    <br><br><br><br><br><br><br><br><br>

    Alternatively, enter JSON here:
    <br><br>
    <textarea name="json" rows="20" placeholder="Enter json here..."></textarea>
    <input class="button secondary float-right" type="submit" value="Submit JSON">
</form>

(% endblock %)