(% extends "layout.html" %)
(% block content %)

<h2>Convert a Playbook to a Component</h2>

<br><br>

<div class="row">
    (% with messages = get_flashed_messages(with_categories=true) %)
      (% if messages %)
        (% for category, message in messages %)
          <span class="(( category ))">(( message ))</span>
        (% endfor %)
        <br><br>
      (% endif %)
    (% endwith %)
</div>

<form action="(( url_for('convert_pb') ))" method="POST">
    <textarea name="playbookContent" rows="20" placeholder="Enter playbook here..."></textarea>
    <input class="button secondary float-right" type="submit">
</form>

(% endblock %)